*{
  padding: 0px;
  margin: 0px;
}
.main-component{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading{
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
}
.main-segment{
  width: 100%;
  text-align: center;
  height: 75%;
}
.card{
  border: 2px solid black;
  width: 200px;
  height: 250px;
  margin: 12px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.card-container{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 2rem;
}

.addinput{
  margin: 15px;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.container{
  margin-top: 15px;
  background-color:  rgb(132, 132, 255);
  border-radius: 15px;
}
.topbutton button{
padding: 10px 20px;
  background-color: whitesmoke;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  margin: 9px;
  border-radius: 10px;
}
.topbutton button:hover {
  background-color: #dc6ef1;
  color: #fff;
  transform: scale(1.1);
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}
.updateinput{
  margin: 15px;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
